html, body {
    height: 100%;
}

html {
    font-size: 10px * $font-scale;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: $font-size;
    overflow-x: hidden;
    font-family: $font-family;
    font-weight: normal;
    line-height: $line-height;
    min-width: 320px;
    color: $font-color;
    background-color: $background-color;
}

#app {
    min-height: 100%;
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-color: $content-bg-color;
}

#content {
    margin-bottom: auto;
}

.container {
    width: 100%;
    max-width: $content-width;
    min-width: 320px;
    margin: 0 auto;
    position: relative;

    @include media-max($content-width + $padding * 2) {
        padding-left: $padding;
        padding-right: $padding;
    }
}

.separator {
    font-weight: 600;
    font-size: rem(12px);
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: $font-color-secondary;
    padding: $padding $padding $padding / 2;
}