.attempt {
    background-color: #FFF;
    padding: $padding / 2;
    border-bottom: 1px solid $border-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: rem(13px);

    &__type {
        font-size: rem(12px);
        padding: $padding / 4 $padding / 2;
        border-radius: $border-radius;
        border: 1px solid $accent-color;
        color: $accent-color;

        &--top {
            border: 1px solid $accent-color-2;
            color: $accent-color-2;
        }

        &--try {
            border: 1px solid $accent-color-3;
            color: $accent-color-3;
        }
    }

    &__date {
        color: $font-color-secondary;
    }

    &__info {
    }

    &__user {
    }
}