.navigation {
    display: flex;
    flex-wrap: wrap;
    background-color: $header-color;
    color: $font-color-light;
    height: $header-height;
    align-items: center;

    &__toggler {
        width: $header-height;
        height: $header-height;
        line-height: $header-height;
        text-align: center;
    }

    &__title {
        font-size: rem(15px);
        line-height: rem(18px);
    }
}