$popup-mask-bg: transparentize(#022749, 0.6);
$popup-mask-transition: opacity .25s ease;
$popup-width: 570px;
$popup-padding: $padding * 2.75 $padding * 4.5;
$popup-bg: transparent;
$box-shadow: 0 2px 8px rgba(0, 0, 0, .33);

.popup-mask {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: $popup-mask-bg;
    display: table;
    transition: $popup-mask-transition;
    will-change: opacity;
}

.popup-wrapper {
    width: 90%;
    max-width: $popup-width;
    max-height: 95%;
    overflow-x: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    border-radius: $border-radius;

    @include media-max(520px) {
        max-height: 90%;
        width: 85%;
    }

    @include media-max(425px) {
        width: 90%;
    }
}

.popup-container {
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: $popup-padding;
    background: $popup-bg;
    box-shadow: $box-shadow;
    border-radius: $border-radius;

    @include media-max(520px) {
        padding: $padding * 3 $padding * 2 ;
    }
    @include media-max(425px) {
        padding: $padding * 3 $padding;
    }
}

.popup-close {
    position: absolute;
    top: 4px;
    right: 5px;
    padding: 0;
    margin: 0;
    width: 35px;
    height: 35px;
    cursor: pointer;
    box-sizing: border-box;
    z-index: 2;
    background-image: url($icon-path + "close.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px;
    transition: opacity $transition;

    &:hover {
        opacity: 0.85;
    }
}

popup, transition {
    display: none;
}

// .popup-enter {
// 	opacity: 0;
// }

// .popup-leave-active {
// 	opacity: 0;
// }

// .popup-enter .popup-container,
// .popup-leave-active .popup-container {
// 	transform: scale(1.1);
// }

.fade-enter-active, .fade-leave-active {
    transition: opacity .25s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}

.popup-enter-active {
    transition: all .25s ease;
}
.popup-leave-active {
    transition: all .15s ease-out;
}
.popup-enter, .popup-leave-to {
    transform: translateY(100%);
}
