$primary-color: #191919;
$accent-color: #F2994A;
$accent-color-2: #67a5eb;
$accent-color-3: #56CCF2;

$accent-hover-color: #1166be;

$header-color: $primary-color;
$background-color: #fff;
$content-bg-color:  #eef2f9;

$font-color: #000;
$font-color-light: #fff;
$font-color-secondary: #828282;


$success-color: #2db86e;
$error-color: $accent-color;

$border-color: #dbe7f3;